.footer-wrapper {
	border-top-width: 1px;
	border-top-style: solid;
	border-color: var(--border-800-80);
}

.footer-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 72rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brand-logo {
  height: 4.75rem;
  width: 5.95rem;
  padding: 0.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.footer-brand {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.footer-logo {
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 0.75rem;
	object-fit: cover;
	box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.footer-text {
	color: var(--color-muted);
}

.footer-links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--color-muted);
}

.footer-link {
	color: var(--color-muted);
}

.footer-link:hover {
	color: rgb(255 255 255 / 1);
}

@media (max-width: 992px) {
	.footer-inner {
		flex-direction: column;
		gap: 1.5rem;
	}
}

