<footer id="iqzclh" class="footer-wrapper">
	<div class="footer-inner" id="izbts7" *transloco="let t">
		<div class="footer-brand" id="izvmkf">
			    <a class="brand-link" href="/">
				<img src="assets/images/TIZ-Logo-White-300x220.png" alt="Brand" class="brand-logo" />
				</a>
			<span class="footer-text" id="isne88">© <span id="ifdi8g"></span> {{ t('footer.brand') }}</span>
		</div>
		<div class="footer-links" id="ilfvl8">
			<a href="#" data-page-link="home" data-i18n="nav.home" class="footer-link" id="ia5dfa">{{ t('nav.home') }}</a>
			<a href="#" data-page-link="documents" data-i18n="nav.documents" class="footer-link" id="ii0qhq">{{ t('nav.documents') }}</a>
			<a href="#" data-page-link="news" data-i18n="nav.news" class="footer-link" id="i0iexc">{{ t('nav.news') }}</a>
			<a href="#" data-page-link="contacts" data-i18n="nav.contacts" class="footer-link" id="is17th">{{ t('nav.contacts') }}</a>
		</div>
	</div>
</footer>
