.scroller {
  display: flex;
  flex-direction: row;      
  align-items: center; 
  overflow: hidden;
  white-space: nowrap;
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller {
  --_animation-direction: forwards;
}

.scroller .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 20s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller_inner {
  display: inline-flex;
  gap: 1rem;
  animation: scroll 10s linear infinite;
padding-block: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

/* @keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
} */

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

[data-animated="true"] .scroller__inner {
  width: max-content; /* ensures enough width for both sets */
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}